# Ignore directories that are git repos.
.git
.hg
.hgignore*


make.inc
build

c++/abs
c++/blas_template
c++/const_const
c++/const_scalar
c++/container_assign
c++/deprecated
c++/deprecated2
c++/enable_if
c++/enum2str_operator
c++/enum2str_to_string
c++/enum_init
c++/exit_code
c++/fft-wrappers
c++/functional
c++/hg-id/app
c++/hg-id/test
c++/if-const
c++/ilp64
c++/inf-nan
c++/instantiate
c++/iterator_scalar
c++/mpi_type
c++/namespace_adl
c++/namespace_collision
c++/nextafter
c++/non_copyable
c++/optional_named_args
c++/opts
c++/pow-vs-sqrt
c++/scan_range
c++/shared_pointer
c++/signed_int
c++/signum
c++/strlcpy
c++/template
c++/to_string_namespace
c++/traits
c++/typedef
c/inf_nan
cuda/*.nvprof
cuda/cuda-version
cuda/properties
cuda/thrust
cuda/trace
fortran/inf_nan
lapack/lamch
lapack/lamchf
latex/spacing-french.pdf
latex/spacing-no-french.pdf
latex/spacing.pdf
makefile/hip/exe
makefile/static-link/test/tester
mkl/*.svg
mpi/allgather
mpi/allgatherv
mpi/allreduce
mpi/bcast
mpi/gather
mpi/gatherv
mpi/init
mpi/isend
mpi/processor_name
mpi/reduce
mpi/scatter
mpi/scatterv
mpi/send
mpi/sendrecv
mpi/version
openmp/*.svg
openmp/hello
openmp/private
rsync/link-dest/*backup*
rsync/link-dest/thyme
